.container {
  padding: 3%
}
h2 > .bx--tag--experimental {
  font-size: 22px;
  padding: 18px;
}
.page-header {
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: #f5f7fa;
  border-bottom: 1px solid #3057D5;
}
.upload-box {
  padding-top: 5%
}
